header {
    background-color: #101010;
    color: white;
    font-size: 15px;
    width: 100%;
    display: block;
    height: 80px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

#rHeader {
    text-align: right;
}

button {
    text-align: right;
}