header {
    background-color: blue;
    color: grey;
    font-size: 15px;
    width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

#rHeader {
    text-align: right;
}

button {
    text-align: right;
}