header {
    background-color: red;
    color: grey;
    font-size: 15px;
    width: 100%;
    
    #lHeader {
        text-align: left;
    }
    #rHeader {
        text-align: right;
    }
}

button {
    text-align: right;
}