* {
    margin: 0;
    color: white;
    width: 100%;
}

.main {
    // height: 2000px;
    width: 100%;
    background-color: #101010;
    display: block;
    padding: 20 0;
}

section {
    display: flex;
    margin: 20 auto 0;
    width: 80%;
}

// .summary {
//     margin-top: 0;
// }

#first {
    margin-top: 0;
}

.experience {
    font-size: 17;
    text-align: justify;
}

.text {
    // font-size: 25;
    font-size: calc(14px + (26-14) * ((100vw - 300px) / (1600-300)));
    text-align: justify;
}

.header {
    display: block;
    background-color: #00B29D;
    height: 35px;
}

.bold {
    font-weight: bold;
}

.inner {
    display: flex;
    background-color: #00B29D;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.nav {
    margin-left: 10px;
    -webkit-transition: color 0.6s;
    -moz-transition: color 0.6s;
    -ms-transition: color 0.6s;
    -o-transition: color 0.6s;
    transition: color 0.6s;
}

a {
    text-decoration: none;
}
.nav:hover {
    color: gray;
}

.column {
    flex: 50%;
    align-items: center;
}

#rHeader {
    text-align: right;
    // padding-right: 20px;
}

.logo {
    width: 20%;
}

.content {
    width: 80%;
}

// p {
//     color: green;
//     border: 2px solid green;
//     font-size: 24px;
//     text-align: center;
// }

// button {
//     color: blue;
//     background-color: pink;
// }

// a {
//     text-decoration: none;
//     color: red;
// }