* {
    margin: 0;
}

.header {
    display: block;
    background-color: #00B29D;
    width: 100%;
    height: 35px;
}

.bold {
    font-weight: bold;
}

.inner {
    display: flex;
    background-color: #00B29D;
    color: white;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#headerhome {
    color: white;
    text-decoration: none;
}

.column {
    flex: 50%;
    align-items: center;
}

#rHeader {
    text-align: right;
}

p {
    color: green;
    border: 2px solid green;
    font-size: 24px;
    text-align: center;
}

button {
    color: blue;
    background-color: pink;
}

a {
    text-decoration: none;
    color: red;
}